*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #2E2D2C, #405751, #DCD6D3) ;
    font: normal 20pt Arial;
    color: #DCD6D3;
    h1{color: #DCD6D3;}
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;

}

.mapBox {
    position: relative;
    width: 600px;
    heigth: 500px;
    background: #fff;

}

.mapBox iframe {
    width : 100%;
    reigth: 100%;

}